.textBox{
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0 0 0;
    font-size: 20px;   
    border: 1px solid green;
    border-radius: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s linear;
}

.textBox:hover{
    background-color: #d9f7f5;
}